body {
    margin: 0;
    padding: 0;
}

.title {
    margin: 0px;
    color: #61059e;
}
header article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2em;
}